#root {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

h2 {
  color: whitesmoke;
  text-shadow: -1px 1px 7px cyan;
}

.component {
  width: 100vw;
  height: 41.5rem;
}
header {
  color: rgba(0, 255, 255, 0.787);
  text-shadow: -2px 2px 1px #000;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #00195875;
  z-index: 1
}

#tsparticles {
  z-index: -1;
}
iframe {
  background:none transparent;
  border-image:
  conic-gradient(var(--easy-cyan)10% , var(--magenta-border)50%, var(--easy-cyan)80%) 1;
}
h1 {
  margin: 0 0 0 1vw;
  font-size: 4vw;
  text-shadow: -1px 1px 7px cyan;
}
nav *{
  padding: 1vw;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* THIS ONE'S HILARIOUS. KEEPING */
/* @keyframes rotateBorderColor {
  0% {
    border-image-source: conic-gradient(var(--easy-cyan) 10%, var(--magenta-border) 50%, var(--easy-cyan) 80%);
    transform: rotate(0deg);
  }
  100% {
    border-image-source: conic-gradient(var(--easy-cyan) 10%, var(--magenta-border) 50%, var(--easy-cyan) 80%);
    transform: rotate(360deg);
  }
} */
@keyframes rotateBorderColor {
  0% {
    --border-gradient-position: 0deg;
  }
  100% {
    --border-gradient-position: 360deg;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  margin: 30vh auto 0 auto;
  
  z-index: 1;
  font-size: 1.25rem;
  text-shadow: -1px 1px 7px cyan;
  text-align: center;
}